*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #e0e0e0;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.weatherCard {
    max-width: 600px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.inputArea {
    padding: 15px;
    display: flex;
    align-items: center;
}
.inputArea .search-btn {
    padding: 10px 15px;
    background: #03a9f4;
    color: #fff;
    border: none;
    font-size: 2rem;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 150px;
    text-transform: capitalize;
}

.inputArea input {
    padding: 10px;
    font-size: 2rem;
    border: 0;
    background-color: #fff;
}
.inputArea input:focus{
    outline: none;
}

.weatherInfo {
    padding: 5rem;
    text-align: center;
}

.weatherInfo h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}
.weatherInfo h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    color: #ffffff;
    padding: 1rem;
    font-weight: lighter;
}
.weatherInfo p {
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
}